//======================
//      Portfolio        
//======================

.card-wrapper {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: 400px;
  margin-bottom: 25px;
  background-color: #fff;
  box-shadow: 0px 10px 30px rgba(210, 190, 171, 0.3);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  .img {
    background-color: #ccc9b7;
    height: 256px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .content {
    padding: 15px;
    a {
      @extend %underline;
      &:hover, &:active {
        @extend %a-hover;
      }
    }
    .bottom {
      text-align: right;
      a {
        background-color: #BEBBAE;
        padding: 3px 15px;
        font-size: 18px;
        color: #fff;
        border-bottom: 0;
        &:hover, &:active {
          background-color: #C6C5B9;
        }
      }
    }
  }
  hr {
    margin: 20px 0;
  }
}