//======================
//  Tags And Categories  
//======================

.blog-tags {
  margin-top: 200px;
  .content {
    display: flex;
    flex-wrap: wrap;
    a {
      @include tags();
    }
    span {
      margin-left: 0.5rem;
    }
  }
}