code {
  background-color: #f9f2f4;
  padding: 2px 4px;
  font-family: Menlo, sans-serif;
  font-size: 14px;
  color: #c7254e;
}
figure.highlight {
  padding: 0;
  width: 100%;
  margin: 0 0 1.5rem;
  background-color: #fffaea;
  color: #596E74;
  border: 1px solid #e7dec3;
  overflow-x: auto;
  table {
    width: auto;
    border: none;
    text-align: left;
    tr {
      border: none;
      background-color: #fffaea;
      td {
        border: none;
        padding: 0;
        text-align: left;
      }
    }
  }
  pre {
    overflow: auto;
    font-size: 14px;
    padding: 3px 0px;
    font-family: "SF Mono", Menlo, Monaco, "Lucida Console", monospace;
    .line {
      line-height: 1.45em;
      padding: 0px 10px;
    }
  }
  figcaption, .gutter {
    display: none;
  }
}
