blockquote {
  font-family: Georgia, "Songti SC", serif;
  font-style: italic;
  color: rgba(73, 80, 88, 0.7);
  border-left: 4px solid #75abea;
  margin: 1.5em 0px;
  padding: 0.5em 10px;
}
blockquote p {
  display: inline;
}