.post-header {
  a:hover {
    @include underline(solid);
  }
}

.post-title {
  margin-top: 0;
}

.post-meta {
  font-weight: 300;
  font-size: 14px;
  text-align: left;
  font-family: "Songti SC", Georgia, Menlo, serif;
  margin-bottom: 2em;
  margin-top: -1em;
  @include media-query() {
    margin-top: 0;
  }
}
